@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
    background-image: linear-gradient(135deg, #e41376, #bf147a, #991b79, #721e71, #4c1e65, #3b296a, #28306d, #10366c, #004c81, #006393, #007aa3, #1791b1);
    background-size: 300% 300%;
    animation: gradient-animation 15s ease infinite;
    font-family: 'Gupter', serif;
}
h1{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Gupter';

}
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.forms-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
    position: relative;
    z-index: 2;
}
.forms {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}
.form-wrapper {
    display: none;
    opacity: 0;
    transition: opacity .3s ease-out;
    z-index: 2;
}
.form-wrapper.is-active {
    display: block;
    opacity: 1;
    transition: opacity .3s ease-in;
}
.switcher {
    position: relative;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    transform: translateX(0);
    transition: all .3s ease-out;
    text-decoration: none;
}
.form-wrapper.is-active .switcher-login,
.form-wrapper.is-active .switcher-about {
    color: #fff;
}
.form {
    overflow: hidden;
    min-width: 400px;
    margin-top: 20px;
    padding: 40px 35px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.533); /* Adjust the opacity as needed */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border: 2px solid rgb(19, 18, 18);
}
.form-login,
.form-about {
    display: none;
}
.form-wrapper.is-active .form-login,
.form-wrapper.is-active .form-about {
    display: block;
}
.form fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    margin: 40px 0;
    max-width: 380px;
    border-bottom: 2px solid #ffffff;
    backdrop-filter: blur(20px);
}
.input-block {
    position: relative;
    margin-bottom: 30px; /* Increase the margin */
}
.form-login fieldset,
.form-about fieldset {
    opacity: 0;
    transition: opacity .3s ease-out;
}
.form-wrapper.is-active fieldset {
    opacity: 1;
    transition: opacity .3s ease-in;
}
.form legend {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}
.input-block input {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: 2px solid #b3a3a3;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease-out;
}
.input-block input:focus {
    border-color: #ffffff34;
}
.input-block label {
    position: absolute;
    top: 50%;
    left: 12px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.3s ease-out;
    border-color: #fff;
}
.input-block input:focus ~ label,
.input-block input:valid ~ label {
    top: 0;
    left: 12px;
    font-size: 12px;
    color: #fff;
    backdrop-filter: blur(55px);
    transform: translateX(-10%) translateY(-50%) scale(0.9);
    padding: 0.2em;
}
.button {
    display: block;
    width: 150px;
    height: 3rem;
    padding: 0 2rem;
    margin: 30px auto 10px;
    font-family: inherit;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    color: #fff;
    background: #3d3a4e;
    background-size: 400%;
    transition: all 0.3s ease-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.form-wrapper.is-active .btn {
    opacity: 1;
    transition: opacity .3s ease-in;
}
.button:hover::before {
    transform: scaleX(1);
  } 
  .button-content {
    position: relative;
    z-index: 1;
  } 
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
/* Social icons styling */
.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}
.social-icons .item {
    margin: 0 10px;
}
.social-icons .item a {
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    background-color: #f0f9fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid #f0f9fe;
    overflow: hidden;
  }
  .social-icons .item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
  }
  .social-icons .item a:hover::before {
    scale: 1 1;
  }
  .social-icons .icon {
    font-size: 1rem; /* Adjust the icon size as needed */
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
  } 
  .social-icons .item a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  .social-icons .item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
  }
  .social-icons .item:nth-child(2) {
    --bg-color: #0077b5;
  }
  .social-icons .item:nth-child(3) {
    --bg-color: #d6100c;
  }
  .social-icons .item:nth-child(4) {
    --bg-color: #000;
  }
.registration-link,
.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
}
.registration-link a,
.login-link a {
    color: #9828ae;
    text-decoration: underline;
    cursor: pointer;
}

#radius-shape-1,
#radius-shape-2,
#radius-shape-3 {
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(#58EFEC, #7CCAD5, #A0A6BE, #C481A7, #E85C90);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    z-index: 0;
}
#radius-shape-1 {
    width: 300px;
    height: 300px;
    top: -60px;
    left: -130px;
}
#radius-shape-2 {
    width: 300px;
    height: 300px;
    bottom: -60px;
    right: -110px;
}
#radius-shape-3 {
    width: 180px;
    height: 180px;
    top: 0;
    right: -80px;
    z-index: 1;
}
.flash-messages {
    margin: 20px 0;
  }
  
  .alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
  }