:root {
    --mango: #f7bf3b;
    --verylightcornflower_blue: #2d0140;
    --eerie-black-1: #00010d;
    --dark_grape: #97b8ff;
    --xiketic_90: hsla(280, 37%, 8%, 0.9);
    --xiketic: hsl(277, 25%, 10%);
    --silver: hsl(0, 0%, 78%);
    --eerie-black-2: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
  
     --ff-gupter: 'Gupter'; 
     --ff-kalam: 'Kalam';
     --ff-dynapuff: 'DynaPuff';
     
    --fs-2: 4.5rem;
    --fs-4: 2.4rem;
    --fs-6: 2rem;
    --fs-8: 1.5rem;
    --fs-9: 1.4rem;
    --fs-10: 1.3rem;
    --fs-11: 1.2rem;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
  
    --section-padding: 120px;
  
    --gradient: linear-gradient(to left, #1c184d, #e41376,#1791b1);
  
    --shadow-1: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.2),
                inset 0px 2px 8px 0px hsla(0, 0%, 0%, 0.4);
    --shadow-2: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.4);
    --shadow-3: 0px 5px 10px 1px hsla(219, 98%, 17%, 0.2);
    --shadow-4: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.15);
  
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a,
  img,
  span,
  time,
  input,
  button,
  ion-icon { display: block; }
  
  img { height: auto; }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  input { width: 100%; }
  
  button { cursor: pointer; }
  
  ion-icon { pointer-events: none; }
  
  address { font-style: normal; }
  
  html {
    font-family: var(--ff-gupter);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--eerie-black-1);
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  :focus-visible { outline-offset: 4px; }
  
  .container { padding-inline: 15px; }
  
  .section { padding-block: var(--section-padding); }
  
  .h1,
  .h3{
    background: linear-gradient(to left, #1c184d, #e41376,#1791b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: var(--ff-kalam);
    font-weight: var(--fw-800);
    line-height: 1;
  }
  
  .h1 {
    font-size: var(--fs-2);
    letter-spacing: -3px;
  }
  
  .h2 { font-size: 3.6rem;
    color:#000;
    font-family: var(--ff-kalam);
    font-weight: var(--fw-800);
    line-height: 1; }
  
  .h3 {
    font-size: var(--fs-6);
    text-transform: uppercase;
  }
  
  .h4 {
    font-size: 15px;
    font-family: var(--ff-gupter);
    color: var(--white);
    font-weight: var(--fw-800);
    line-height: 1;
  }
  
  :is(.h1, .h2, .h3, .card-price) .span {
    display: inline-block;
    color: #97b8ff;
  }
  
  .btn {
    margin-inline: auto;
    color: var(--xiketic);
    font-size: var(--fs-8);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    min-height: 55px;
    padding-inline: 35px;
  }
  
  .skewBg {
    position: relative;
    z-index: 1;
  }
  .skewBg::before {
    content: "";
    position: absolute;
    z-index: -1;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% + 8px);
    width: 5px;
    transform: skewX(-16deg) translateX(var(--translateX, 0));
    background-color: var(--verylightcornflower_blue);
    transition: var(--transition);
  }
  
  .btn:is(:hover, :focus)::after { --translateX: -13px; }
  
  .has-scrollbar {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding-block-end: 30px;
    scroll-snap-type: inline mandatory;
  }
  
  .has-scrollbar::-webkit-scrollbar { height: 10px; }
  
  .has-scrollbar::-webkit-scrollbar-track { outline: 3px solid var(--verylightcornflower_blue); }
  
  .has-scrollbar::-webkit-scrollbar-thumb { background-color: var(--verylightcornflower_blue); }
  
  .has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }
  
  .section-subtitle,
  .section-title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }  
  
  .section-subtitle {
    color: var(--verylightcornflower_blue);
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
    margin-block-end: 10px;
  }
  
  .scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  .card-banner { background-color: #000030; }
  
  .img-holder { aspect-ratio: var(--width) / var(--height); }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-badge {
    min-height: 30px;
    color: var(--eerie-black-1);
    font-size: var(--fs-11);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    max-width: max-content;
    display: grid;
    align-items: center;
    padding-inline: 20px;
  }
  
  .card-badge::before { --skewX: -10deg; }
  
  .w-100 { width: 100%; }
  
  .section-text {
    color: var(--color, var(--silver));
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    max-width: 65ch;
    margin-inline: auto;
    text-align: center;
    line-height: 1.8;
  }

  .header-top,
  .cart-btn,
  .header-bottom::before,
  .navbar-link::before { display: none; }
  
  .header {
    position: relative;
    min-height: 1px;
  }
  
  .header-bottom {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    background-color: #232437;
    padding-block: 20px;
    z-index: 4;
  }
  
  .header-bottom.active {
    position: fixed;
    top: -85px;
    animation: slideIn 0.5s var(--cubic-out) forwards;
  }
  
  @keyframes slideIn {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
  }
  
  .header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .logo {
    color: var(--white);
    font-family: var(--ff-dynapuff);
    font-size: 3rem;
    font-weight: var(--fw-800);
    position: relative; /* Ensure it's positioned correctly */
  background: none;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav-toggle-btn {
    color: var(--white);
    font-size: 30px;
    border: 1px solid var(--white);
    padding: 4px;
  }
  
  .nav-toggle-btn.active .menu,
  .nav-toggle-btn .close { display: none; }
  
  .nav-toggle-btn .menu,
  .nav-toggle-btn.active .close { display: block; }
  
  .navbar {
    background-color: var(--eerie-black-2);
    color: var(--white);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    max-width: 350px;
    visibility: hidden;
    max-height: 0;
    transition: 0.25s var(--cubic-out);
    overflow: hidden;
  }
  
  .navbar.active {
    visibility: visible;
    max-height: 275px;
    transition-duration: 0.5s;
  }
  
  .navbar-item:not(:last-child) { border-block-end: 1px solid var(--white); }
  
  .navbar-link {
    padding: 10px 25px;
    transition: var(--transition);
  }
  .navbar-link.skewBg {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff; /* Set text color or any other styles */
  }
  
  .navbar-link.skewBg::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: skewX(var(--skewX, -16deg));
    background-color: var(--bg, var(--dark_grape)); /* Apply background color */
    z-index: -1;
  }
  .navbar-link:is(:hover, :focus) { background-color: var(--white); }

  .hero-banner { display: none; }
  
  /* Style the figure.hero-banner.img-holder element */
  figure.hero-banner.img-holder {
  margin-top: 70px;
  position: absolute;
  left: 55%; /* Changed to 0 to align with the left edge of the parent container */
  top: 60%;
  transform: translateY(-50%);
  z-index: 1;
  }
  
  .hero {
    --section-padding: 5px;
    margin-block-start: -190px;
    text-align: center;
    min-height: 100vh;
    display: grid;
    align-items: center;
  }
  
  .hero-title, .hero-subtitle, .hero-text {
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
  }
  
  .hero-subtitle {
    color: var(--white);
    font-size: 30px;
    font-weight: var(--fw-700);
    text-transform: uppercase;
  }
  
  .hero-title { 
    margin-block: 15px 12px; 
    font-size: 90px;}
  
  .hero-text {
    color: #fff;
    margin-block-end: 5px;
    font-size: 25px;
  }
  
  .get-started-button {
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720; /* Background color */
    transition: 0.1s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    z-index: 3;
    padding: 3px; /* Added padding to match the .codepen-button */
    isolation: isolate; /* Added isolation to handle overlapping elements */
    overflow: hidden; /* Added to clip the pseudo-element */
  }
  
  .get-started-button::before {
    content: "";
    position: absolute;
    top: -3px; /* Adjusted for a better border appearance */
    left: -3px; /* Adjusted for a better border appearance */
    width: calc(100% + 6px); /* Adjusted to match the button size */
    height: calc(100% + 6px); /* Adjusted to match the button size */
    background: linear-gradient(109.6deg, #090979 11.2%, #9006a1 53.7%, #1da1f2 75%, #00d4ff 100.2%);
    background-size: 400% 400%; /* Increased background size for smooth animation */
    animation: animated-gradient-border 8s linear infinite; /* Continuous animation */
    transition: all 0.25s ease-out;
    border-radius: 1rem; /* Border radius to match the button */
    z-index: -1;
  }
  
  @keyframes animated-gradient-border {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .get-started-button::after {
    content: "";
    width: calc(100% - 6px); /* Adjusted to match the button size */
    height: calc(100% - 6px); /* Adjusted to match the button size */
    background: #100720; /* Background color */
    position: absolute;
    left: 3px; /* Adjusted to match the button size */
    top: 3px; /* Adjusted to match the button size */
    border-radius: 1rem; /* Border radius to match the button */
    z-index: -1;
  }
  
  .get-started-button:active {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 94, 247) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    color: #100720;
    transition: 0.5s;
  }
  /* Text Reveal Animation */
  .reveal {
  opacity: 0;
  transform: translateY(20px);
  animation: reveal 0.8s ease-out forwards;
  }
  
  @keyframes reveal {
  to {
    opacity: 1;
    transform: none;
  }}
  
  /* Delay each element to reveal them in sequence */
  .reveal:nth-child(1) {
  animation-delay: 0.2s;
  }
  
  .reveal:nth-child(2) {
  animation-delay: 0.4s;
  }
  
  .reveal:nth-child(3) {
  animation-delay: 0.6s;
  }
  
  .reveal:nth-child(4) {
  animation-delay: 0.8s;
  }
  
  .bubbles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2; /* Ensure bubbles are above other elements */
  }
  
  .bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 0.6) 17.8%, rgba(2, 245, 255, 0.6) 100.2%);
  border-radius: 50%;
  opacity: 0.6;
  animation: rise 10s infinite ease-in;
  }
  
  .bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 10s;
  animation-delay: 2s;
  }
  
  .bubble:nth-child(3) {
  width: 30px;
  height: 30px;
  left: 50%;
  animation-duration: 12s;
  animation-delay: 4s;
  }
  
  .bubble:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 70%;
  animation-duration: 8s;
  animation-delay: 6s;
  }
  
  .bubble:nth-child(5) {
  width: 25px;
  height: 25px;
  left: 90%;
  animation-duration: 14s;
  animation-delay: 8s;
  }
  
  @keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(-1000px) scale(1.5);
    opacity: 0;
  }
  }

  .brand {
    --section-padding: 130px;
    background-image: var(--dark_lavender);
    
  }
  
  .countdown-text {
    text-align: center;
  }
  
  .gradient-text {
    font-size: 50px; /* Adjust font size as needed */
  letter-spacing: 2px; /* Adjust letter spacing as needed */
  background: linear-gradient(to right,#00e1fd, #fc007a);
  background-size: 200% 200%; /* Ensures the gradient covers the text completely */
  animation: gradient-animation 4s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  }
  
  @keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
  .brand .has-scrollbar { padding-block-end: 0; }
  
  .brand .has-scrollbar::-webkit-scrollbar { display: none; }
  
  .brand-item {
    min-width: calc(50% - 10px);
    scroll-snap-align: start;
  }
  
  .brand-item > img { margin-inline: auto; }

  .section-wrapper {
    position: relative;
    background-color: var(--light_blue);
    z-index: 1;
  }
  
  .section-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57%;
    background-color: var(--dark_grape);
    z-index: -1;
  }
  
  .latest-game .section-title {
    margin-block-end: 80px;
  }
  
  .latest-game .has-scrollbar {
    margin-inline: -15px;
    padding-inline: 15px;
    scroll-padding-inline-start: 15px;
  }
  .has-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .latest-game-card {
    position: relative;
    box-shadow: var(--shadow-2);
    overflow: hidden; /* Ensure content stays within the card */
    transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
    border-radius: 15px;
  }
  
  .latest-game-card:hover {
    transform: scale(1.05); /* Slightly scale up the card on hover */
  }
  
  .latest-game-card .card-content {
    position: absolute;
    bottom: -100%; /* Move content out of view */
    left: 0;
    right: 0;
    background-color: var(--xiketic_90);
    padding: 35px 25px;
    font-family: var(--ff-kalam);
    transition: bottom 0.3s ease-in-out; /* Smooth reveal effect */
    border-radius: 15px 15px 0 0;
  }
  
  .latest-game-card:hover .card-content {
    bottom: 0; /* Reveal content on hover */
  }
  
  .latest-game-card .card-badge {
    position: absolute;
    bottom: 100%;
    left: 25px;
    background-color: var(--bg, var(--dark_grape)); /* Apply background color */
    color: #2d2c2c; /* Set text color */
    padding: 10px; /* Add padding if necessary */
    transform: skewX(var(--skewX, -10deg)); /* Apply skew effect */
    z-index: 1; /* Ensure it appears above other content */
  }

  .latest-game-card .card-badge::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: skewX(var(--skewX, -16deg)); /* Apply skew effect */
    background-color: var(--bg, var(--dark_grape)); /* Background color */
    z-index: -1; /* Place behind the badge text */
  }

  .latest-game-card .card-title {
    margin-block-end: 12px;
    transition: color 0.3s ease-in-out;
  }
  
  .latest-game-card .card-title:hover,
  .latest-game-card .card-title:focus {
    color: var(--mango);
  }
  
  .latest-game-card .card-price {
    color: var(--silver);
    font-size: var(--fs-10);
    font-weight: var(--fw-600);
  }
  
  .latest-game-card .card-price .span {
    margin-inline-start: 5px;
  }
  
  /* Interactive Card Styles */
  .is-style-card--interactive {
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
     position: relative;
     transition: box-shadow 0.5s ease;
  }
  
  .is-style-card--interactive:focus-within,
  .is-style-card--interactive:hover {
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.2), 0 16px 16px rgba(0, 0, 0, 0.2);
  }
  
  .is-style-card--interactive :where(.wp-block-group.wp-block-group-is-layout-constrained) {
     position: static;
  } 
  /* Make whole card clickable */
  .is-style-card--interactive :where(.wp-block-heading) a:after {
     content: "";
     inset: 0;
     position: absolute;
     z-index: 10;
  }  
  /* Animate the Cover block image */
  .is-style-card--interactive :where(.wp-block-cover__image-background) {
     filter: saturate(100%) brightness(100%);
     transform: scale(1);
     transition: all 0.35s ease;
  }
  .is-style-card--interactive:focus-within :where(.wp-block-cover__image-background),
  .is-style-card--interactive:hover :where(.wp-block-cover__image-background) {
     filter: saturate(200%) brightness(40%);
     transform: scale(1.15);
  }
  /* Animate label area */
  .is-style-card--interactive :where(.is-vertical) .wp-block-group:first-of-type {
     opacity: 0;
     transform: scale(0.95) translateX(-1rem);
     transform-origin: center right;
     transition: all 0.25s ease-in-out;
     transition-delay: 0.2s;
  } 
  .is-style-card--interactive:focus-within :where(.is-vertical) .wp-block-group:first-of-type,
  .is-style-card--interactive:hover :where(.is-vertical) .wp-block-group:first-of-type {
     opacity: 1;
     transform: scale(1) translateX(0);
  } 
  /* Animate content area */
  .is-style-card--interactive :where(.is-vertical) .wp-block-group:first-of-type + .wp-block-group p {
     max-height: 0;
     opacity: 0;
     overflow: hidden;
     transition: max-height 0.35s cubic-bezier(.19,1,.22,1), opacity 0.6s ease;
  }
  
  .is-style-card--interactive:focus-within :where(.is-vertical) .wp-block-group:first-of-type + .wp-block-group p,
  .is-style-card--interactive:hover :where(.is-vertical) .wp-block-group:first-of-type + .wp-block-group p {
     max-height: 100%;
     opacity: 1;
  }
  
  .is-style-card--interactive :where(.is-vertical) {
     display: flex;
  }
  
  @media (prefers-reduced-motion: reduce) {
     .is-style-card--interactive *,
     .is-style-card--interactive *::after,
     .is-style-card--interactive *::before {
         opacity: 1 !important;
         transition: none !important;
         visibility: visible !important;
     }
  }

  .featured-game { background: linear-gradient(50deg,#0089fa, #000000); /* Apply the gradient */
    padding: 50px 0; /* Add some padding to ensure the gradient is visible */
    overflow: hidden; /* Ensure content doesn't overflow */ }
  
  .featured-game .section-title {
  color: var(--plum);
  margin-block-end: 90px;
  }

  .live-match {
    padding-block-start: 0;
    overflow-x: hidden;
  }
  
  .live-match .section-title {
    margin-block-end: 90px;
  }
  
  .live-match-banner {
    position: relative;
    background-color: var(--eerie-black-2);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: var(--shadow-3);
    width: 800px; /* Fixed width */
    height: 470px; /* Fixed height */
    margin-top: -50px;
  }
  
  .live-match-banner video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the container */
    display: block;
    border: 5px solid #000; /* Add your border here */
    border-radius: 10px; 
  }
  
  .controls {
    position: absolute;
    bottom: 40px; /* Adjusted to make room for progress bar */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  
  .control-btn {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: var(--white);
    font-size: 15px; /* Smaller font size */
    padding: 5px; /* Smaller padding */
    border-radius: 5px;
    cursor: pointer;
  }
  
  .control-btn:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .play-btn, .pause-btn, .rewind-btn, .fast-forward-btn {
    z-index: 10;
  }
  
  .progress-bar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Adjust width as needed */
  }
  
  .progress-bar input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(61, 60, 60, 0.5);
    height: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  .h5, .shared-heading {
    font-size: 3.6rem;
    background: linear-gradient(to left, #1f1fad 5%, #9006a1 50%, #1da1f2 75%, #00d4ff 11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: var(--ff-kalam);
    font-weight: var(--fw-800);
    line-height: 1;
}

  .blog {
    background-color: #000030;
    width: 1516px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog h5 {
    margin-bottom: 50px; /* Add some space between the text and the image */
    text-align: center; /* Center the text horizontally */
  }

.card-banner {
    position: relative;
}

.overlay-content h2{ margin-bottom: 10px;}

.gradient-border {
    position: relative;
    display: inline-block;
    width: 1000px; /* Set the exact width of the image */
    height: 400px; /* Set the exact height of the image */
    padding: 5px; /* Thinner padding for a thinner border */
    background: linear-gradient(109.6deg, rgb(9, 9, 121) 11.2%, rgb(144, 6, 161) 53.7%, rgb(29, 161, 242) 75%, rgb(0, 212, 255) 100%);
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding is included in the element's size */
}

.card-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
    width: 60%; /* Adjust width to make it larger */
    max-width: 800px;
    color: white;
    text-align: justify;
    z-index: 10; /* Ensure text is above the image */
    padding: 20px;
    background-color: #00001d; /* Optional: background to improve readability */
    border-radius: 5px; /* Optional: rounded corners for the overlay */
}
  
  .newsletter {
    margin-block-end: 80px;
  }
  
  .newsletter-card {
    background-color: var(--silver);
    padding: 30px 15px;
    margin-block-start: -55px;
    margin: 0 auto;
    border-radius: 80px;
    width: 70%; /* Reduce the width to make the card smaller */
    position: relative; /* Allows the use of top and bottom properties */
    top: -40px; /* Move the card up by 20px */
    text-align: center; /* Center-align content inside the card */
  }
  
  .newsletter .h2 {
    font-size: var(--fs-4);
    text-transform: uppercase;
    text-align: center;
    margin-block-end: 60px; /* Reduced margin to bring buttons closer */
    white-space: nowrap; /* Prevents line break */
  }
  
  .newsletter .input-wrapper {
    max-width: 100px; /* Reduce the width to make the wrapper smaller */
    margin-inline: auto;
    margin-block-end: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }

  .upload-btn {
    font-size: var(--fs-9);
    color: var(--white);
    font-weight: var(--fw-500);
    padding: 17px 65px;
    padding-inline-end: 20px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 15px;
    border: none;
    background-color: var(--eerie-black-1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .newsletter .input-wrapper ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: var(--mango);
    --ionicon-stroke-width: 50px;
  }
  
  .newsletter .input-wrapper::before {
    --bg: var(--eerie-black-1);
    --skewX: -20deg;
  }

.newsletter-btn {
  font-size: var(--fs-9);
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  gap: 5px;
  padding-inline: 20px;
  transition: var(--transition);
  width: 150px; /* Added width */
  height: 3rem; /* Added height */
  margin: 15px auto 10px; /* Added margin */
  font-family: inherit; /* Added font-family */
  font-size: 18px; /* Adjusted font-size */
  line-height: 40px; /* Added line-height */
  border-radius: 25px; /* Added border-radius */
  border: none; /* Added border */
  color: #fff; /* Adjusted color */
  background: #3d3a4e; /* Adjusted background */
  background-size: 400%; /* Added background-size */
  cursor: pointer; /* Added cursor */
  position: relative; /* Added position */
  overflow: hidden; /* Added overflow */
}

.newsletter-btn::after { display: none; }

.newsletter-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.475s;
}

.newsletter-btn:is(:hover, :focus) {
  color: var(--eerie-black-1);
}

.newsletter-btn:is(:hover, :focus)::before { 
  background-color: var(--white); 
  transform: scaleX(1);
}

.button-content {
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  position: relative;
  z-index: 1;
}
  
  .footer { color: var(--silver); }
  
  .footer-top { padding-block-end: var(--section-padding); }
  
  .footer-top .container {
    display: grid;
    gap: 50px;
  }
  
  .footer .logo { margin-block-end: 35px; }
  
  .footer-text,
  .footer .contact-item {
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    line-height: 1.8;
  }
  
  .footer-text { margin-block-end: 15px; }
  
  .contact-item:not(:last-child) { margin-block-end: 10px; }
  
  .contact-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  
  .contact-icon {
    margin-block-start: 3px;
    font-size: 17px;
  }
  
  .footer-list-title {
    position: relative;
    color: var(--silver);
    font-family: var(--ff-gupter);
    text-transform: uppercase;
    font-weight: var(--fw-800);
    padding-block-end: 20px;
    margin-block-end: 35px;
  }
  
  .footer-list-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: var(--verylightcornflower_blue);
  }
  
  .footer-link {
    font-size: var(--fs-9);
    max-width: max-content;
    transition: var(--transition);
    padding-block: 8px;
    font-weight: var(--fw-500);
  }
  
  .footer-link:is(:hover, :focus) {
    color: var(--dark_grape);
    transform: translateX(5px);
  }
  
  .footer .social-wrapper { margin-block-end: 50px; }
  
  .footer .social-list {
    display: flex;
    gap: 10px;
  }
  
  .footer .social-link {
    color: var(--white);
    padding: 10px;
    border-radius: 2px;
  }
  
  .footer-newsletter { position: relative; }
  
  .footer-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 53px;
    background-color: var(--dark_grape);
    color: var(--xiketic);
    display: grid;
    place-content: center;
  }
  
  .logout-wrapper {
    text-align: center;
    margin-top: 40px;
    margin-left: -30px;
  }
  
  .logout-btn {
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: transparent;
    transition: 0.1s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    padding: 10px 20px; /* Optional: Adjust padding if needed */
  }
  
  .logout-btn::before {
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: inherit;
    z-index: -1;
  }
  
  .logout-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #100720;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    z-index: -1;
  }
  
  .logout-btn:active {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    color: #100720;
    transition: 0.5s;
  }
  
  .footer-bottom-img { display: none; }
  
  .footer-bottom {
    background-color: var(--eerie-black-2);
    padding-block: 20px;
    text-align: center;
  }
  
  .copyright {
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    line-height: 1.8;
  }
  
  .copyright-link {
    display: inline-block;
    color: var(--dark_grape);
  }
  
  .back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 15px;
    background-color: var(--mango);
    padding: 12px;
    z-index: 4;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
  }
  
  .back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
  }

  @media (min-width: 576px) {

    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    .h1 { --fs-2: 7rem; }

    .header-actions { gap: 40px; }

    .brand-item { min-width: calc(33.33% - 13.33px); }

    .featured-game .scrollbar-item { min-width: 50%; }

    .blog-list {
      grid-template-columns: 75%;
      justify-content: center;
    }
  
    .footer-top .container { grid-template-columns: 1fr 1fr; }
    .footer-brand,
    .footer-wrapper { grid-column: 1 / 3; } 
  }

  @media (min-width: 768px) {

    .container { max-width: 720px; }
  
    .scrollbar-item { min-width: calc(50% - 15px); }

    .hero-text {
      max-width: 60ch;
      margin-inline: auto;
    }
    .brand-item { min-width: calc(25% - 15px); }
  
    .live-match-banner .play-btn { font-size: 120px; }
  
    .live-match-player::after { font-size: 30rem; }
  
    .blog-list { grid-template-columns: 1fr 1fr; }

    .newsletter :is(.input-wrapper, .newsletter-btn) { margin: 0; }
  
    .newsletter .input-wrapper {
      max-width: unset;
      width: 100%;
    }
  
    .newsletter .h2 { --fs-4: 2.6rem; }
  
    .newsletter-form {
      display: flex;
      gap: 10px;
      max-width: 500px;
      width: 100%;
      margin-inline: auto;
    }

    .footer-brand,
    .footer-wrapper { grid-column: auto; }
  
    .footer-bottom-img { display: block; }
  
    .footer-bottom { text-align: left; }
  
    .footer-bottom .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    .back-top-btn {
      bottom: 50px;
      right: 45px;
    }
  
  }

  @media (min-width: 992px) {

    .container { max-width: 960px; }
  
    :is(.header, .hero, .live-match) .container { max-width: unset; }
  
    .scrollbar-item { min-width: calc(33.33% - 20px); }
  
    .countdown-text {
      color: var(--silver);
      font-size: var(--fs-10);
      font-weight: var(--fw-600);
    }
  
    .countdown-text .span {
      display: inline-block;
      color: var(--xiketic);
      font-size: 1.8rem;
      font-weight: var(--fw-700);
      padding: 10px 20px;
      margin-inline: 5px;
    }

    .header-bottom { outline: 1px solid hsla(0, 0%, 0%, 0.2); }
  
    .header-bottom::before {
      display: block;
      top: 0;
      left: -15px;
      right: auto;
      width: 170px;
      --skewX: 16deg;
    }
  
    .nav-toggle-btn { display: none; }
  
    .navbar,
    .navbar.active {
      all: unset;
      margin-inline: auto 15px;
    }
  
    .navbar-list { display: flex; }
  
    .navbar-item:not(:last-child) { border-block-end: none; }
  
    .navbar-link {
      color: var(--white);
      font-family: var(--ff-gupter);
      font-size: var(--fs-11);
      text-transform: uppercase;
      font-weight: var(--fw-700);
      padding: 10px 20px;
    }
  
    .navbar-link::before {
      display: block;
      opacity: 0;
      transition: var(--transition);
    }
  
    .navbar-link:is(:hover, :focus) {
      background-color: transparent;
      color: var(--xiketic);
    }
  
    .navbar-link:is(:hover, :focus)::before { opacity: 1; }

    .hero { text-align: left; }
  
    .hero-banner { display: block; }
  
    .hero .container {
      display: grid;
      grid-template-columns: 1fr 0.9fr;
      align-items: center;
      gap: 50px;
    }
  
    .btn { margin-inline: 0; }
 
    .brand-item { min-width: calc(20% - 16px); }

    .latest-game .has-scrollbar { padding-block-end: 0; }

    .live-match-banner {
      max-width: 700px;
      margin-inline: auto;
    }
  
    .live-match-player {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  
    .live-match-detail { margin-block: 0; }

    .featured-game .scrollbar-item { min-width: 33.33%; }

    .blog-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  
    .newsletter-form { max-width: 650px; }

    .footer .container {
      grid-template-columns: 1fr 0.7fr 0.7fr;
      column-gap: 80px;
    }
  
  }

  @media (min-width: 1200px) {

    .container,
    :is(.header, .hero, .live-match) .container { max-width: 1230px; }
  
    .h1 { --fs-2: 7.5rem; }
  
    .scrollbar-item { min-width: calc(25% - 22.5px); }

    .header-bottom::before { width: 270px; }
  
    .navbar-link {
      font-size: var(--fs-9);
      padding-inline: 25px;
    }

    .hero .container { grid-template-columns: 1fr 1fr; }
  
    .brand-item { min-width: calc(16.66% - 16.66px); }
  
    .section-wrapper::before { height: 72%; }
  
    .live-match-banner { max-width: max-content; }
  
    .live-match-player::after { font-size: 35rem; }

    .featured-game .has-scrollbar { padding-block-end: 0; }
  
    .featured-game .scrollbar-item { min-width: 25%; }

    .shop .has-scrollbar { padding-block-end: 15px; }

    .newsletter-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 70px;
    }
  
    .newsletter .h2 { margin-block-end: 0; }
  
    .newsletter-form { margin-inline: 0; }

    .footer .container { grid-template-columns: 1fr 0.7fr 0.7fr 1fr; }  
  }

  #uploaded_image {
    max-width: 100%;
    height: auto;
  }

